* {
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    font-family: sans-serif;
}



body {
    background-color: rgb(245, 247, 250);
}

header {
    height: 100px;
    background-color: white;
}

h1 {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;

}

#logo {
    display: inline-block;

}

.container {
    width: 780px;
    padding-left: 50px;
}

.main-header {
    height: 50px;
    background-color: white;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 50px;

}


.button {
    display: inline-block;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    text-align: justify;

}

#task {
    background-color: rgb(69, 173, 237);
    color: white;
    border: none;

}

#section {
    background-color: white;
    color: lightgray;
    border: solid 2px lightgrey
}

.list {
    background-color: white;
    height: 700px;
    margin-top: 2px;
    padding-left: 50px;
    padding-top: 20px;

}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 35px;
}


p {
    display: inline;
    margin-left: 10px;
    font-size: large;


}

.list-items {
    margin-top: 20px;
    margin-bottom: 20px;
}

#checkmark {
    height: 25px;
    display: inline-block;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    border: solid 2px green;
    color: green;

}

#crosscheck {
    height: 25px;
    display: inline-block;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    border: solid 2px red;
    color: red;

}

.label {

    height: 25px;
    display: inline-block;
    line-height: 6px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 10px;

}

#Editional {
    background-color: rgb(73, 170, 235);
}

#Q1-goals {
    
    background-color: rgb(153, 116, 232);
    
}

#Recruiting {
    
    background-color: rgb(103, 191, 168);
    
}

#mobile{

    background-color: rgb(242, 155, 56);

}