*{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    font-family: sans-serif;
}



body{
    background-color: rgb(245, 247, 250);
}

header{
    height: 100px;
    background-color: white;
}

h1{
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

#logo{
    display: inline-block;

}

.container{
    width: 780px;
}

.main-header{
    height: 50px;
    background-color: white;
    margin-top: 20px;
}

#task{
    background-color: rgb(69, 173, 237);
    borde
}